@import url(../돼지테스트/reset.css);

header .header {
    border: 1px solid #000;
    background: orange;
    margin: 5px;
    padding: 10px;
}

header .bottom {
    background: red;
    margin: 5px;
    padding: 10px;
}

/* header 끝 body 시작 */
body .mainbox {
    margin-top: 20px;
    max-width: 1080px;
    margin: 20px auto 100px;
    width: auto;
    min-height: 1000px;
    display: block;

    height: 1000px;
    background: olivedrab;
}
.mianbox .box {
    display: block;
}

.mainbox .title {
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    padding-bottom: 20px;
    text-align: center; 
}

.mainbox .title h1 {
    font-size: 50px;
    font-weight: 700;
    border: 1px solid #000;
    margin: 20px auto;
    padding: 50px;
}
.mainbox .title h3 {
    font-size: 15px;
    font-weight: 600;
}
.mainbox .title .level {
    margin: 10px;
}
.mainbox .title .levelselect {
    padding: 5px;
}
.mainbox .imgbox {
    width: 49%;
    height: auto;
    float: left;
    border: 1px solid #000;
    background: blue;
    margin-top: 20px;
    box-sizing: border-box;
}
.mainbox .imgbox img {
    object-fit: cover;
    max-width: 100%;
    min-height: 100%;
    display: block;
    margin: auto;
    border-radius: 15px;
}
.mainbox .scorebox {
    background: pink;
    float: right;
    width: 48%;
    height: auto;
    box-sizing: border-box;
    margin-left: 10px;
}
.mainbox .scorebox .inputbox {
    width: auto;
    height: 30px;
    margin: 10px auto;
}
.mainbox .scorebox .inputbox #text {
    width: auto;
    height: 25px;
    font-size: 20px;
    text-align: center;
}
.mainbox .scorebox .score {
    font-size: 20px;
    margin-bottom: 20px;
}
.mainbox .scorebox .start {
    font-size: 30px;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 1%;
    width: 100px;
    height: 100px;
    text-align: center;
}